/* extra small device start */
@media (max-width: 575.98px) {
  /* common css start */
  .cmnbtn {
    overflow: hidden;
    height: 40px;
  }
  /* common css end */
  /* nav start */
  #navigation {
    padding: 40px 0;
  }
  .navbar-brand {
    width: 151px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  #navigation .navbar-nav .nav-link {
    font-size: 14px;
  }
  /* nav end */

  /* banner start */
  #banner {
    padding: 12px 0 48px;
  }
  #banner .bnrtxt {
    margin: 25px 0 0;
  }
  #banner .bnrwraper {
    flex-direction: column-reverse;
  }
  #banner .brnrightbox {
    max-width: 80%;
    height: 256px;
  }
  #banner .brnrightbox .banenerfuture {
    position: absolute;
    bottom: 23px;
    left: -21%;
    height: 120px;
  }
  #banner .bnrtxt h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 36px;
    max-width: 289px;
    margin: 0 auto;
    text-align: center;
  }
  #banner .bnrtxt .note {
    font-size: 13px;
    margin-top: 16px;
    max-width: 327px;
    line-height: 24px;
    text-align: center;
  }
  #banner .bnrtxt .bannerbtn {
    margin: 24px auto 0;
  }
  #banner .bnrtxt .bannercounter h3 span {
    font-size: 36px;
    line-height: 43px;
  }
  #banner .bnrtxt .bannercounter h3 p {
    margin-left: 7px;
  }
  #banner .bnrtxt .bannercounter {
    margin-top: 32px;
    column-gap: 22px;
  }
  /* banner end */

  /* record start */
  #record {
    padding-top: 40px;
    margin-top: 24px;
  }

  .record-header .heading {
    font-size: 24px;
    line-height: 36px;
    max-width: 327px;
  }

  .record-header .note {
    padding: 0;
    margin-top: 16px;
    max-width: 340px;
  }

  .record-header .note span {
    display: none;
  }
  .record-item {
    margin-top: 32px;
  }

  /* record end */

  /* different start */
  .different_left h4 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto 16px;
    width: 290px;
    text-align: center;
  }
  .different_left p {
    width: 327px;
    line-height: 24px;
    padding: 16px 0 24px 0;
    margin: 0 auto;
    text-align: center;
  }
  /* different end */

  /* popular start */
  #popular .title h2 {
    font-size: 24px;
    width: 290px;
    line-height: 36px;
  }
  #popular .title p {
    width: 327px;
    line-height: 24px;
    padding: 16px 0 24px 0;
  }
  #popular #myTabpopular {
    justify-content: center;
    gap: 16px;
  }
  #popular #myTabpopular li:nth-child(odd) {
    width: 140px;
  }
  #popular #myTabpopular li:nth-child(even) {
    width: 110px;
  }
  #popular #myTabpopular li:nth-child(odd) button,
  #popular #myTabpopular li:nth-child(even) button {
    width: 100%;
    text-align: center;
  }

  /* popular end */

  /* pricing start */
  #pricing {
    padding: 56px 0px;
  }
  .pricing-header h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  #pricing .pricing-box {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  #pricing .pricing-box .item button {
    padding: 15px 107px;
  }

  #pricing .pricing-box .item {
    margin-bottom: 24px;
  }
  #pricing .pricing-box .item .button {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 78px;
  }
  /* pricing end */

  /* article start */
  .article-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .article-heading p {
    font-size: 13px;
    line-height: 23px;
  }
  .article-item-content h6 {
    font-size: 15px;
    line-height: 24px;
  }
  .article-item-content p {
    font-size: 11px;
    line-height: 20px;
  }
  /* article end */

  /* listener start */
  #listener {
    padding: 24px 0 110px;
  }
  .heading {
    font-size: 24px;
    line-height: 36px;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
  }
  #listener .listwraper {
    row-gap: 32px;
    position: relative;
  }
  #listener .listwraper .listitembox .listitemwrap {
    padding: 0 13px;
  }
  #listener .listwraper .listitembox .listitemwrap .slider,
  #listener .listwraper .listitemwrap .item,
  #listener .listwraper .listitemwrap .item img {
    width: 100%;
  }
  #listener .listwraper .listitemwrap .item:last-child,
  #listener .listwraper .listitemwrap .item:nth-child(2) {
    display: none;
  }
  #listener .listwraper .listitembox .listitemwrap .slidbtn {
    margin-top: 32px;
  }
  #listener .listwraper .listitemwrap .item p {
    font-size: 13px;
    line-height: 23px;
  }
  #listener .listwraper .listitemwrap .item .profile {
    margin-top: 26px;
  }
  #listener .lisbtn {
    height: unset;
    position: absolute;
    left: 50%;
    bottom: -290%;
    transform: translateX(-50%);
  }
  #listener .lisbtn a {
    padding: 18px 34px;
    border-color: #fff;
    color: #fff;
  }

  /* listener end */

  /* footer start */
  #footer {
    padding: 315px 0 0;
  }
  #footer .footwrap {
    row-gap: 32px;
  }
  /* footer end */
}
/* extra small device end */

/* small device start */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* common css start */
  /* common css end */
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-header .heading {
    max-width: 390px;
    font-size: 29px;
    line-height: 50px;
  }
  .record-header .note {
    max-width: 430px;
  }

  .record-item {
    padding: 24px 25px;
    max-width: 327px;
  }

  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */

  /* different start */
  /* different end */

  /* popular start */
  /* popular end */

  /* pricing start */
  #pricing .pricing-box .item {
    margin-top: 30px;
  }

  #pricing .pricing-box .item button {
    padding: 10px 64px;
    width: 100%;
  }

  #pricing .pricing-box .item p {
    font-size: 12px;
    text-align: center;
  }

  #pricing .pricing-box .item h3 {
    font-size: 27px;
  }
  #pricing .pricing-box .item .item-list ul li {
    font-size: 14px;
  }
  /* pricing end */

  /* article start */
  /* article end */

  /* listener start */
  /* listener end */

  /* footer start */
  /* footer end */
}
/* small device end */

/* Medium device Start */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-header .heading {
    max-width: 643px;
    font-size: 40px;
    line-height: 60px;
  }

  .record-header .note {
    font-size: 14px;
    max-width: 511px;
  }

  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */

  /* different start */
  /* different end */

  /* popular start */
  /* popular end */

  /* pricing start */

  #pricing .pricing-box .item {
    padding: 15px;
  }
  #pricing .pricing-box .item {
    margin-top: 30px;
  }

  #pricing .pricing-box .item button {
    padding: 10px 57px;
    width: 100%;
  }

  #pricing .pricing-box .item p {
    font-size: 12px;
    text-align: center;
  }

  #pricing .pricing-box .item h3 {
    font-size: 25px;
  }
  #pricing .pricing-box .item .item-list ul li {
    font-size: 13px;
  }

  /* pricing end */
  /* article start */
  /* article end */

  /* listener start */
  /* listener end */

  /* footer start */
  /* footer end */
}
/* Medium device End */

/* Large device Start */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  /* record end */

  /* different start */
  /* different end */

  /* popular start */
  /* popular end */

  /* pricing start */

  #pricing .pricing-box .item {
    padding: 15px;
  }
  #pricing .pricing-box .item {
    margin-top: 30px;
  }

  #pricing .pricing-box .item button {
    padding: 10px 57px;
    width: 100%;
  }

  #pricing .pricing-box .item p {
    font-size: 12px;
    text-align: center;
  }

  #pricing .pricing-box .item h3 {
    font-size: 25px;
  }
  #pricing .pricing-box .item .item-list ul li {
    font-size: 13px;
  }

  /* pricing end */

  /* article start */
  /* article end */

  /* listener start */
  /* listener end */

  /* footer start */
  /* footer end */
}
/* Large device End */

@media (min-width: 992px) and (max-width: 1199px) {
  /* common css end */
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */
}
