/* extra small device start */
@media (max-width: 575.99px) {
  /* common css start */
  .cmnbtn {
    overflow: hidden;
    height: 40px;
  }
  /* common css end */
  /* nav start */
  #navigation {
    padding: 40px 0;
  }
  .navbar-brand {
    width: 151px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  #navigation .navbar-nav .nav-link {
    font-size: 14px;
  }
  /* nav end */

  /* banner start */
  #banner {
    padding: 12px 0 48px;
  }
  #banner .bnrtxt {
    margin: 25px 0 0;
  }
  #banner .bnrwraper {
    flex-direction: column-reverse;
  }
  #banner .brnrightbox {
    max-width: 80%;
    height: 256px;
  }
  #banner .brnrightbox .banenerfuture {
    position: absolute;
    bottom: 23px;
    left: -21%;
    height: 120px;
  }
  #banner .bnrtxt h1 {
    margin-top: 10px;
    font-size: 24px;
    line-height: 36px;
    max-width: 289px;
    margin: 0 auto;
    text-align: center;
  }
  #banner .bnrtxt .note {
    font-size: 13px;
    margin-top: 16px;
    max-width: 327px;
    line-height: 24px;
    text-align: center;
  }
  #banner .bnrtxt .bannerbtn {
    margin: 24px auto 0;
  }
  #banner .bnrtxt .bannercounter h3 span {
    font-size: 36px;
    line-height: 43px;
  }
  #banner .bnrtxt .bannercounter h3 p {
    margin-left: 7px;
  }
  #banner .bnrtxt .bannercounter {
    margin-top: 32px;
    column-gap: 22px;
  }
  /* banner end */

  /* record start */
  #record {
    padding-top: 40px;
    margin-top: 24px;
  }

  .record-header .heading {
    font-size: 24px;
    line-height: 36px;
    max-width: 327px;
  }

  .record-header .note {
    padding: 0;
    margin-top: 16px;
    max-width: 327px;
  }

  .record-item {
    margin-top: 32px;
  }

  /* record end */

  /* different start */
  /* different end */

  /* popular start */
  /* popular end */

  /* pricing start */
  /* pricing end */

  /* article start */
  /* article end */

  /* listener start */
  /* listener end */

  /* footer start */
  /* footer end */
}
/* extra small device end */

/* small device start */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* common css end */
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-header .heading {
    max-width: 390px;
    font-size: 29px;
    line-height: 50px;
  }
  .record-header .note {
    max-width: 430px;
  }

  .record-item {
    padding: 24px 25px;
    max-width: 327px;
  }

  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */

  /* different start */
  /* different end */

  /* popular start */
  /* popular end */

  /* pricing start */
  /* pricing end */

  /* article start */
  /* article end */

  /* listener start */
  /* listener end */

  /* footer start */
  /* footer end */
}
/* small device end */
@media (min-width: 768px) and (max-width: 991.99px) {
  /* common css end */
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-header .heading {
    max-width: 643px;
    font-size: 40px;
    line-height: 60px;
  }

  .record-header .note {
    font-size: 14px;
    max-width: 511px;
  }

  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* common css end */
  /* nav start */
  /* nav end */

  /* banner start */
  /* banner end */

  /* record start */
  .record-header .heading {
    max-width: 643px;
    font-size: 40px;
    line-height: 60px;
  }

  .record-header .note {
    font-size: 14px;
    max-width: 511px;
  }

  .record-item-body p {
    margin: 0 auto;
  }

  /* record end */
}
