/* common css start */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
.container {
  max-width: 1200px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.note {
  color: #898998;
  font-size: 14px;
  line-height: 24px;
}
.heading {
  color: #13132c;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  text-transform: capitalize;
}
.cmnbtn {
  width: 127px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #7678ed;
  text-transform: capitalize;
  position: relative;
}
.cmnbtn .btnbx {
  position: absolute;
  top: 30%;
  left: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.cmnbtn:hover .btnbx {
  animation: btnanimation 0.5s linear;
  -webkit-animation: btnanimation 0.5s linear;
}
@keyframes btnanimation {
  0% {
    top: 30%;
    left: 25%;
  }
  100% {
    top: -103%;
    left: 25%;
  }
}
.common-btn {
  padding: 18px 40px;
  border: 1px solid #7678ed;
  color: #7678ed;
  font-size: 16px;
  font-weight: 600;
}
/* common css end */

/* nav start */
#navigation {
  padding: 32px 0;
}
#navigation .navbar-nav {
  column-gap: 49px;
}
#navigation .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: #62636c;
  font-size: 16px;
  text-transform: capitalize;
}
/* nav end */

/* banner start */
#banner {
  padding: 48px 0 96px;
}
#banner .bnrtxt h1 {
  color: #13132c;
  font-size: 56px;
  font-weight: 600;
  line-height: 76px;
}
#banner .bnrtxt .note {
  margin-top: 16px;
  max-width: 368px;
  line-height: 28px;
}
#banner .bnrtxt .bannerbtn {
  margin-top: 32px;
  display: flex;
  column-gap: 16px;
  width: fit-content;
}
#banner .bnrtxt .bannerbtn a {
  padding: 18px 40px;
  border: 1px solid #7678ed;
  color: #7678ed;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .bnrtxt .bannerbtn a::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #7678ed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .bnrtxt .bannerbtn a:first-child:after {
  width: 100%;
}
#banner .bnrtxt .bannerbtn a:first-child {
  color: #fff;
}
#banner .bnrtxt .bannerbtn:hover a:hover::after {
  width: 100%;
}
#banner .bnrtxt .bannerbtn:hover a:hover {
  color: #fff;
}
#banner .bnrtxt .bannerbtn:hover a:not(:hover)::after {
  width: 0%;
}
#banner .bnrtxt .bannerbtn:hover a:not(:hover) {
  color: #7678ed;
}
#banner .bnrtxt .bannercounter {
  margin-top: 56px;
  display: flex;
  column-gap: 24px;
}
#banner .bnrtxt .bannercounter h3 {
    display: flex;
    align-items: baseline;
}
#banner .bnrtxt .bannercounter h3 span {
  color: #f18701;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
#banner .bnrtxt .bannercounter h3 p {
  color: #13132c;
  font-size: 16px;
  margin-left: 8px;
}
#banner .brnrightbox{
  max-width: 510px;
  margin-left: auto;
  height: 100%;
  background-color: #C4C4C4;
  position: relative;
}
#banner .brnrightbox .banenerfuture{
  position: absolute;
  bottom: 48px;
  left: -21%;
}
/* banner end */

/* record start */
/* record end */

/* different start */
#different{
  padding-top: 116px;
  padding-bottom: 116px;
}
.different_left h4{
  color: #13132C;
  font-family: Commissioner;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; 
  text-transform: capitalize;
  margin-bottom: 16px;
}
.different_left p{
  font-family: Commissioner;
  color: #898998;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-right: 85px;

}

.different_check i{
  height: 24px;
  width: 24px;
  background: #F18701;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 7px;
}
.different_left ul{
  margin-top: 32px;
}
.different_left li{
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 15px;
}
.different_left span{
  color: #13132C;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.different_btn button{
padding: 18px 40px;
background: #7678ED;
border: none;
color: #FFFFFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
margin-top: 40px;
border: 1 px solid #7678ED;
}
.different_btn button:hover{
background: #40419c;
} 

.different_right img{
  width: 100%;
  
}
#different .row{
  justify-content: space-between;
}
/* different end */

/* popular start */
/* popular end */

/* pricing start */
/* pricing end */

/* article start */
/* article end */

/* listener start */
#listener {
  padding: 96px 0 110px;
}
#listener .listwraper {
  row-gap: 56px;
}
#listener .listwraper .listitembox{
  position: relative;
}
#listener .listwraper .listitembox .listitemwrap{
  position: absolute;
  top: 0;
  left: 0;
}
#listener .lisbtn {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}
#listener .listwraper .listitemwrap .item {
  padding: 23px;
  border: 1px solid #ddd;
  background: #fff;
}
#listener .listwraper .listitemwrap .item p {
  color: #62636c;
  font-size: 16px;
  font-style: italic;
  line-height: 28px;
}
#listener .listwraper .listitemwrap .item .profile {
  display: flex;
  column-gap: 16px;
  margin-top: 32px;
}
#listener .listwraper .listitemwrap .item .profile .pic {
  width: 56px;
  height: 56px;
  background-color: #c4c4c4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#listener .listwraper .listitemwrap .item .profile .name h3 {
  color: #13132c;
  font-size: 18px;
  font-weight: 500;
}
#listener .listwraper .listitemwrap .item .profile .name h5 {
  color: #898998;
  font-size: 16px;
  margin-top: 10px;
}
/* listener end */

/* footer start */
/* footer end */
