/* common css start */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img{
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.note {
  color: #898998;
  font-size: 14px;
  line-height: 24px;
}
.heading {
  color: #13132c;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  text-transform: capitalize;
}
.cmnbtn {
  width: 127px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #7678ed;
  text-transform: capitalize;
  position: relative;
}
.cmnbtn .btnbx {
  position: absolute;
  top: 30%;
  left: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.cmnbtn:hover .btnbx {
  animation: btnanimation 0.5s linear;
  -webkit-animation: btnanimation 0.5s linear;
}
@keyframes btnanimation {
  0% {
    top: 30%;
    left: 25%;
  }
  100% {
    top: -103%;
    left: 25%;
  }
}
/* common css end */

/* nav start */
#navigation {
  padding: 32px 0;
}
#navigation .navbar-nav {
  column-gap: 49px;
}
#navigation .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: #62636c;
  font-size: 16px;
  text-transform: capitalize;
}

.navbar-brand {
  margin-right: 0px;
}
/* nav end */

/* banner start */
#banner {
  padding: 48px 0 96px;
}
#banner .bnrtxt h1 {
  color: #13132c;
  font-size: 56px;
  font-weight: 600;
  line-height: 76px;
}
#banner .bnrtxt .note {
  margin-top: 16px;
  max-width: 368px;
}
#banner .bnrtxt .bannerbtn {
  margin-top: 32px;
  display: flex;
  column-gap: 16px;
  width: fit-content;
}
#banner .bnrtxt .bannerbtn a {
  padding: 18px 40px;
  border: 1px solid #7678ed;
  color: #7678ed;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .bnrtxt .bannerbtn a::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #7678ed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .bnrtxt .bannerbtn a:first-child:after {
  width: 100%;
}
#banner .bnrtxt .bannerbtn a:first-child {
  color: #fff;
}
#banner .bnrtxt .bannerbtn:hover a:hover::after {
  width: 100%;
}
#banner .bnrtxt .bannerbtn:hover a:hover {
  color: #fff;
}
#banner .bnrtxt .bannerbtn:hover a:not(:hover)::after {
  width: 0%;
}
#banner .bnrtxt .bannerbtn:hover a:not(:hover) {
  color: #7678ed;
}
#banner .bnrtxt .bannercounter {
  margin-top: 56px;
  display: flex;
  column-gap: 24px;
}
#banner .bnrtxt .bannercounter h3 {
  display: flex;
  align-items: baseline;
}
#banner .bnrtxt .bannercounter h3 span {
  color: #f18701;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}
#banner .bnrtxt .bannercounter h3 p {
  color: #13132c;
  font-size: 16px;
  margin-left: 8px;
}
#banner .brnrightbox {
  max-width: 510px;
  margin-left: auto;
  height: 100%;
  background-color: #c4c4c4;
  position: relative;
}
#banner .brnrightbox .banenerfuture {
  position: absolute;
  bottom: 48px;
  left: -21%;
}
/* banner end */

/* record start by Md. Salim Hossain Sagor*/
#record {
  background-color: #fafafa;
  padding-top: 64px;
  padding-bottom: 64px;
}

.record-header h4 {
  font-size: 48px;
  line-height: 70px;
  color: #13132c;
  font-weight: 600;
  text-transform: capitalize;
}

.record-header p {
  font-size: 14px;
  line-height: 24px;
  color: #898998;
  font-weight: 400;
  padding: 0 20px;
  margin-top: 24px;
}

.record-item {
  margin-top: 48px;
  padding: 24px 32px;
  box-shadow: 10px 29px 72px rgba(15, 13, 35, 0.1);
  text-align: center;
  background-color: #ffffff;
}

.record-item-body {
  margin-top: 32px;
}

.record-item-body h5 {
  font-size: 20px;
  font-weight: 500;
  color: #13132c;
}

.record-item-body p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #898998;
  margin-top: 16px;
}
/* record end by Md. Salim Hossain Sagor*/

/* different start */
/* different end */

/* popular start */
#popular{
  background-color: #FAFAFA;
  padding: 64px 0;
} 
#popular .title{
  text-align: center;
} 

#popular .title h2 {
  font-size: 48px;
  width: 384px;
  line-height: 70px;
  font-weight: 600;
  margin: 0 auto;
  color: #13132C;
}
#popular .title p {
  font-size: 14px;
  width: 386px;
  color: #898998;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 24px 0 40px 0;
}
#popular .btn {
  gap: 16px;
  display: flex;
  justify-content: center;
}

#popular .btn button {
  font-size: 14px;
  color: #898998;
  line-height: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border: 1px solid #898998;
  background-color: transparent;
  transition: .5s;
}
#popular .btn button:hover {
  color: #ffffff;
  border: 1px solid #7678ED;
  background-color: #7678ED;
}

button {
  &:hover {
    animation: rotate 0.7s ease-in-out both;
    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

#popular .main {
  margin-top: 48px;
}
#popular .item {
  background-color: #fff;
  margin-bottom: 24px;
}

#popular .item img {
  width: 100%;
  padding: 24px 10px;
}

#popular .sidebyside {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
#popular .sidebyside .text h4{
  font-size: 18px;
  font-weight: 500;
}
#popular .sidebyside .text p{
  font-size: 14px;
  font-weight: 400;
  color: #898998;
  margin: 10px 0 24px;
}
#popular .sidebyside .icon  {
  border: 1px solid #7678ED;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
}
#popular .sidebyside .icon ion-icon {
  font-size: 25px;
  color: #7678ED;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
/* popular end */

/* pricing start */
/* pricing end */

/* article start */
/* article end */

/* listener start */
/* listener end */

/* footer start */
/* footer end */
