/* common css start */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}
.container {
  max-width: 1200px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* common css end */

/* nav start */
#navigation {
  padding: 32px 0;
}
#navigation .navbar-nav {
  column-gap: 49px;
}
#navigation .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: #62636c;
  font-size: 16px;
  text-transform: capitalize;
}
#navigation .subscribe {
  padding: 16px 32px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: #7678ED;
  text-transform: capitalize;
}
/* nav end */

/* banner start */
/* banner end */

/* record start */
/* record end */

/* different start */
/* different end */

/* popular start */
/* popular end */

/* pricing start */
/* pricing end */

/* article start */
/* article end */

/* listener start */
/* listener end */

/* footer start */
/* footer end */
